page-view-rooms {
    .background{
        background: linear-gradient(rgba(0,0,0,0.6)), url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
        background-size: cover;  
    
    }

    ion-card.card{
        margin-top: 20%;
        border-radius:12px;
        box-shadow: 2px 2px 4px; 
    }
    img{
        height: 350px;
        width: 400px;
    }
    .scroll-content{
        align-content: center;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .nav{
        font-family: 'Original Surfer', cursive;
        font-family: 'Courgette', cursive;  
    }
    h2{
        font-family: 'Original Surfer', cursive;
        font-family: 'Courgette', cursive;

        text-shadow: 2px 2px 4px wheat;
    }
    ion-icon.icon{
        // color: rgb(133, 93, 18);
        color: rgb(236, 160, 19);
    }
    h1{
        font-family: 'Original Surfer', cursive;
        font-family: 'Courgette', cursive;

  
    }
}
