page-booking {
    .background{
        background-color: rgba(41, 39, 39, 0.904);
    
        // background: linear-gradient(rgba(0,0,0,0.6)), url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
        // background-size: cover;  
    
    }
    .head{
        // box-shadow: 2px 2px 4px;
        position: fixed;
        // height: 00px;
        // background-attachment: fixed;
        // overflow:visible;
    }
    .section{
        // background: url('../../assets/logos/eclipse.svg');
        background:  url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
        background-size: cover; 
        // position: fixed;
        // background-size: contain;
        background-position: center;
     //    margin-right: 15px;
        background-repeat: no-repeat;
        top: 40%;
        z-index: 1;
     //    background-attachment: fixed;
        height: 43vh;
        // box-shadow:2px 2px 4px 2px;
     //    width: 30vw;
        overflow:hidden;
    }
    .nav{
        opacity: 0.90;
        font-family: 'Original Surfer', cursive;
        font-family: 'Courgette', cursive;
        overflow: visible;
        z-index: -1;
    }
    .logo{
        height: 50px;
        width: 50px;
        box-shadow: 2px 2px 4px;
        border-radius: 50px;
    }
    .ball{
        background-color:rgb(133, 93, 18) ;
        // position: fixed;
        // position: absolute;
        margin-top:25px; 
        overflow:hidden;
        height: 28vh;
        border-radius: 15px;
        box-shadow: 2px 2px 4px black;
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
        opacity: 0.90;
    }
}
