page-welcome {
.background{
    background-color: rgba(41, 39, 39, 0.904);

    // background: linear-gradient(rgba(0,0,0,0.6)), url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
    // background-size: cover;  

}
.head{
    // box-shadow: 2px 2px 4px;
    position: fixed;
    // height: 00px;
    // background-attachment: fixed;
    // overflow:visible;
}
.nav{
    opacity: 0.90;
    font-family: 'Original Surfer', cursive;
    font-family: 'Courgette', cursive;
    overflow: visible;
    z-index: -1;
}
ion-segment.segment{
    // background-position: fixed;
    position: fixed;
//    color: whitesmoke;
    overflow: hidden;
    background-color:whitesmoke;
    box-shadow:2px 2px 4px ;
    z-index: 1;
}
.segbutt{
    color: wheat;
    background-color:whitesmoke;
    // font-family: 'Original Surfer', cursive;
    font-family: 'Courgette', cursive;
// font-family: 'Pacifico', cursive;
}
.section{
    // background: url('../../assets/logos/eclipse.svg');
    background:  url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
    background-size: cover; 
    // position: fixed;
    // background-size: contain;
    background-position: center;
 //    margin-right: 15px;
    background-repeat: no-repeat;
    top: 40%;
    z-index: 1;
 //    background-attachment: fixed;
    height: 43vh;
    // box-shadow:2px 2px 4px 2px;
 //    width: 30vw;
    overflow:hidden;
}
.logo{
    height: 50px;
    width: 50px;
    box-shadow: 2px 2px 4px;
    border-radius: 50px;
}
.pice{
    height: 80vw;
    width: 400px;
}
.IT{
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px;
    width: 95%;
    left: 3%;
}

.ball{
    background-color:rgb(133, 93, 18) ;
    // position: fixed;
    // position: absolute;
    margin-top:25px; 
    overflow:hidden;
    height: 28vh;
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    opacity: 0.90;
}
#pics{
    height: 100px;
    width: 100px;
    box-shadow: 2px 2px 4px black;
    border: 12px;
    // border-radius: 50px;
}
.tem {
    padding: 20px;
    // margin-top: 2px;
    background-color: rgba(0, 0, 0, 0.637);
    text-align: center;
    color: wheat;
}


// img{
//     height: 50px;
//     width: 50px;
// }
h1{
    font-family: 'Original Surfer', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 4px;
    // background-color:rgb(133, 93, 18) ;
    color: rgba(47, 4, 165, 0.678);
    margin-left: 50px;
    margin-right: 50px;

}
img{
    // height: 120px;
    // width: 150px;
    // padding: 10px;

}
#con{
    margin-left: 15px;
}
// .overlay{
  
//     z-index: 0;
//     border-bottom: 65vh solid transparent;

//     border-left: 790vh solid rgba(114, 107, 107, 0.384);
//     border-top: 0vh solid transparent;
    
// }
.T2{
    font-size: 1.5em;
}
button{
    border: none;
}
.title{
    // margin-left:170px; 
    width: 100%;
    position: absolute;
    color: wheat;
    text-align: center;
    top: 50%;
}
#tit{
    width: 101%;
    // padding: 10%;
    position: absolute;
    // display: flex;
    color: wheat;
    text-align: center;
    top: 20%;
}
.list,.pager{
    color: rgb(236, 160, 19);
}
.T{
 font-size: 30px;
 font-weight: bold;
// font-family: 'Original Surfer', cursive;
// font-family: 'Pacifico', cursive;
font-family: 'Courgette', cursive;
text-decoration: underline;
}
// img{
//     // background: linear-gradient(rgba(0,0,0,0.6));
// }
ion-card.card{
   
    // background-image: url('../../assets/081f3c8460625915dc34edc705b82bba.jpg');
    background-size: contain;
    // background-repeat: no-repeat;
    position: relative;
    text-align: center;
    // height: 200px;
    // z-index: -1;
    border-radius: 12px;

}
ion-icon.icon{
    color: rgb(236, 160, 19);
}
// ion-card.pic{
//     background-image: linear-gradient(rgba(0, 0, 0, 0.836));

// }
.overlay{
    // position:absolute;
    // color: aqua;
    // height: 100px;
}
.O{
    font-size: 30px;
    font-weight: bold; 
    font-family: 'Original Surfer', cursive;
}
.res{
// height: 350px;
}

}
