page-welcome {
.background{
    background: linear-gradient(rgba(0,0,0,0.6)), url('../../assets/3f6b0af2345776f5f225a3f030e88726.jpg');
    background-size: cover;  

}
.section{
    background: url('../../assets/logos/eclipse.svg');
    background-size: cover;
    background-position: center;
 //    margin-right: 15px;
    background-repeat: no-repeat;
 //    background-attachment: fixed;
    height: 30vh;
    box-shadow:2px 2px 4px 2px;
 //    width: 30vw;
    overflow:visible;
}
.ball{
    background-color:rgb(133, 93, 18) ;
    position: fixed;
    // position: absolute;
    margin-top:20px; 
    border-radius: 15px;
    box-shadow: 2px 2px 4px black;
    margin-left: 50px;
    margin-right: 50px;
}
// img{
//     height: 50px;
//     width: 50px;
// }
h1{
    font-family: 'Original Surfer', cursive;
    font-size: 40px;
    // box-shadow: 2px 2px 4px black;
    // background-color:rgb(133, 93, 18) ;
    color: rgba(0,0,0,0.6);
    margin-left: 50px;
    margin-right: 50px;

}
button{
    border: none;
}
.title{
    // margin-left:170px; 
    width: 100%;
    position: absolute;
    color: wheat;
    text-align: center;
    top: 50%;
}
.T{
 font-size: 30px;
 font-weight: bold; 
 font-family: 'Original Surfer', cursive;
}
img{
    // background: linear-gradient(rgba(0,0,0,0.6));
}
ion-card.card{
    background-image: linear-gradient(rgba(0, 0, 0, 0.836));
    // background-image: url('../../assets/081f3c8460625915dc34edc705b82bba.jpg');
    // background-size: contain;
    // background-repeat: no-repeat;
    position: relative;
    text-align: center;
    border-radius: 12px;

}
ion-card.pic{
    background-image: linear-gradient(rgba(0, 0, 0, 0.836));

}
.overlay{
    position:absolute;
    color: aqua;
    height: 100px;
}
}
